.meetup {
    display:flex;;
    border : 1px solid black;
} 

.meetup_header {
    display:flex;
    padding-right : 50px ;
    padding-left : 50px ;
    margin:auto;
}

.meetup__title {
    border : 1px solid black;
    padding-right : 50px ;
    padding-left : 50px ;

}

.meetup__description {
    border : 1px solid black;
    padding-right : 50px ;
    padding-left : 50px ;
}

.meetup__date {
    border : 1px solid black;
    padding-right : 50px ;
    padding-left : 50px ;

}

.meetups_tab {
    margin:auto;
    display:flex;
    width:620px;
    border : 3px solid red;
    flex-direction: column;
}

.meetup_id:hover {
    opacity:0.5;
}